/* your css code goes here */

.blue {
  background-color: tan;
  color:aliceblue;
}

.today {
  background-color: darkseagreen;
  color: cornsilk;
}

.jumbotron {
  margin-bottom: 0;
}

.title {
  background-image: url(img/seamless_paper_texture.png);
  margin-left: -.7em;
  margin-right: -1.5em;
}

.title h1,
.title p {
  color: #555;
  text-shadow: 1px 1px #333;
}

.title h1 {
  font-family: 'Lora', serif;
  font-weight: 700;
}

.title p {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

.calendar {
  background-size: cover;
  border: 5px solid black;
}

.fall {
  background-image: url(img/fall-min.jpg);
}

.winter {
  background-image: url(img/winter-min.jpg);
}

.summer {
  background-image: url(img/summer-min.jpg);
}

.spring {
  background-image: url(img/spring-min.jpg);
}

h2, h3 {
  padding-left: 1em;
  color: #eee;
  text-shadow: 2px 2px black,
                -1px -1px black,
                1px -1px black,
                -1px 1px black;
  padding-bottom: .5em;
  font-family: 'Oswald', sans-serif;
}


.table-responsive {
  border: 2px solid #333;
  border-radius: .5em;
  margin-top: .5em;
  padding: 0;
}

.table {
  margin:0;
}

tr {
  background-color: aliceblue;
  width: 8em;
}

td {
  height: 6em;
  border-left: 1px solid #ddd;
  width: 8em;
  background-color: beige;
}

tbody {
  border-bottom: 1px solid #ddd;
}

/*Setters*/
#month-options-menu,
#year-options-menu {
  padding: .5em;
  border-radius: .5em;
  border: 1px solid #444;
  box-shadow: 2px 2px black;
  font-size: 1.3em;
  font-weight: bold;
}

